<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page with Graph</title>
    <!-- Подключение plotly.js из CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1>Welcome to the Frontend Microservice!</h1>
    <div id="accuracy_graph"></div>
    <div id="loss_graph"></div>
    <div id="lr_graph"></div>

    <script>
        function loadGraph() {
            fetch('http://localhost:5001/graphic')
                .then(response => response.json())
                .then(data => {
                    try {console.log(data);} catch{console.log('data is not defined');}
                    try{console.log(data.graph);} catch{console.log('data.graph is not defined');}
                    Plotly.newPlot('accuracy_graph', JSON.parse(data.accuracy_json), {});
                    Plotly.newPlot('loss_graph', JSON.parse(data.loss_json), {});
                    Plotly.newPlot('lr_graph', JSON.parse(data.lr_json), {});
                })
                .catch(error => {
                    console.error('Error loading graphic:', error);
                });
        }

        window.onload = loadGraph;
    </script>
</body>
</html>